*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calm;
    color: white;
}
@font-face {
    font-family: calm;
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: remo;
    src: url(./fonts/Montserrat-Bold.ttf);
}
html,body{
    width: 100%;
    height: 100%;
}
#nav{
    width: 100%;
    height: 25vh;
    font-family: calm;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 55px;
    padding: 0px 100px;
    position: fixed;
    z-index: 15;
    /* background-color: red; */
    transition: all 0.3s linear;
}
.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(125, 210, 50) ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transition: all 0.4s linear;
  mix-blend-mode: difference;
}
.blur {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: rgba(127, 217, 49, 0.24);
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(40px);
    z-index: 9;
    transition: all 0.8s ease-out;
}



.icon button{
    padding: 15px 30px;
    border-radius: 50px;
    border: 3px solid green;
    background-color: black;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 400;
    text-transform: uppercase;
}
.icon{
    padding: 0px 10px;
    position: relative;
    right: 8%;
    top: 30%;
    display: flex;
    gap: 10px;
}

#nav img{
    height: 80px; 
}
#nav h1{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
   position: fixed;
}
.main{
position: relative;
background-color:rgba(0, 0, 0, 0.532);
text-align: center;
}
.page1{
    width: 100%;
   min-height:100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
.page1 p{
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.page1 h1{
    font-size: 22vh;
    text-transform: uppercase;
    font-weight: 1400;
    position: relative;
   color: white;
   white-space: nowrap;
}
.page1 h1::after{
    content: "Eat.Drink.Play.";
    color: black;
    position: absolute;
    top: -6px;
    left: -6px;
}

.page1 h3{
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 25px;
}

.page2{
    width: 100%;
    min-height: 100vh;
    z-index: 10;
}
.scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroller::-webkit-scrollbar{
    display: none;
}
.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 16s linear infinite;
}
.scroller h4{
    display: inline-block;
    color: transparent;
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Helvetica;
    transition: all 0.6s linear;
    margin-right: 10px;
   -webkit-text-stroke: 2px rgb(177, 173, 173);
}
.scroller h4:hover{
    color: rgb(135, 219, 32);

}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
} 

.contact-us{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin-top: 90px;
}
.texts h2{
    line-height: 2;
}
.texts p{
    line-height: 1.8;
    font-weight: 200;
    font-family: calm;
}
.cards-cont{
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
    position: relative;
    z-index: 10;
    transition: all 0.6s ease-in-out;
}
.card1{
    width: 24%;
    height: 80%;
    border-radius: 15px;
    background: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-size: cover;
    background-position: center center; 
}
.card3{
    width: 24%;
    height: 80%;
    border-radius: 15px;
    background: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-size: cover;
    background-position: center center; 
}
.card5{
    width: 24%;
    height: 80%;
    border-radius: 15px;
    background: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&w=1152&ssl=1%201152w);
    background-size: cover;
    background-position: center; 
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(154, 214, 42);
    padding: 140px 20px 10px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.overlay p{
    color: black;
    line-height: 2;
    margin-top: 20px;
    font-size: 16px;
    font: 200;
}
.overlay h2{
    color: black;
    font-size: 40px;
}
#card:hover .overlay{
    opacity: 1;
}
#card:hover{
    transform: rotate3d(1,1,0,16deg);
    transition: all 0.6s ease-in-out;
}
.green{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    background: linear-gradient(to right, #b8f10a, #087e68); 
    padding: 0px 20px;
   
}
.green h1{
    font-weight: 800;
    font-size: 26px;
    color: black;
}
.green img{
    width: 100px;
    height: 40vh;
    background-size: cover;
    background-position: center center;
}
.fooddrink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 120px;
}
.fooddrink img{
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.txt button{
    padding: 10px 24px;
    border: 3px solid rgb(158, 247, 81);
    border-radius: 30px;
    overflow: hidden;
    
}

.txt button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(141, 243, 73, 0.854); /* Tailwind ka green-500 */
    transform: translateY(100%); /* Initially niche hide rahega */
    transition: transform 0.2s ease-in-out;
}
button:hover::after {
    transform: translateY(0); /* Hover pe pura cover karega */
}

.movment {
    width: 100%;
    height: 75vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.movment h1{
    transform: rotate(-1.5deg);
    font-size: 26px;
    font-weight: 800;
}

.moves {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200%; /* Infinite scrolling ke liye wide container */
    transform: rotate(-2deg); /* Slight tilt */
    animation: scrollMove 18s linear infinite;
}

.moves img {
    width: 200px;
    height: 250px; 
    object-fit: cover;
    border-radius: 20px;
    margin-left: 20px;
}

@keyframes scrollMove {
    0% {
        transform: translateX(0%) rotate(-1.5deg);
    }
    100% {
        transform: translateX(-110%) rotate(-1.5deg);
    }
}
.quats h1{
    color: white;
}
.page4{
    width: 100%;
    height: 50vh;
    display: flex;
    position: relative;
    align-items: center;
   justify-content: center;
   gap: 50px;
}
.elem{
    width: 26%;
    height: 40%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    
}

.elem h1{
    width: 100%;
    height: 100%;
   background-color: #b8f10a;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    text-transform: uppercase;
   font-size: 40px;
   line-height: 1;
   font-weight: 800;
   position: absolute;
   z-index: 10;
   transition: all ease 0.4s;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem:hover h1{
    color: rgb(223, 223, 223);
    background-color: transparent;
}
.page4 h2{
    position: absolute;
    width: 100%;
    font-size: 85px;
    text-transform: uppercase;
    font-weight: 800;
    height: 100%;
    top: 30px;
    color: black;
    -webkit-text-stroke: 1px rgb(195, 250, 160);
}
.ref2 h2{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}
.ref3 h2{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}
.ref4 h3{
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px;
}
.project{
    padding-top: 100px;
    
}
footer {
    background: linear-gradient(to right, rgb(172, 218, 46), rgb(57, 126, 14));
}
.demo{
    padding-top: 100px;
}
.demo p{
    padding: 0px 80px;
    font-weight: 200;
}